<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12"> 

            <h1>This is from app Component</h1>

           <app-servers></app-servers>
            <app-warning-alert></app-warning-alert>
            <app-sucess-alert></app-sucess-alert> 

        </div>
    </div>
</div> -->
<!-- <div>

    <table>
        <thead>
            <tr>
                <th attr.colspan= {{ColumnSpan}}>
                    {{pageHeader}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name</td>
                <td>{{FirstName}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{LastName}}</td>
            </tr>
            <tr *ngIf="ShowDetails">
                <td>Branch</td>
                <td>{{Branch}}</td>
            </tr>
            <tr *ngIf="ShowDetails">
                <td>Mobile</td>
                <td>{{Mobile}}</td>
            </tr>
            <tr  *ngIf="ShowDetails">
                <td>Gender</td>
                <td>{{Gender}}</td>
            </tr>
            <tr  *ngIf="ShowDetails">
                <td>Age</td>
                <td>{{Age}}</td>
            </tr>
        </tbody>
      </table>

      <button (click)="ToggleDetails()"> {{ShowDetails ? 'Hide' : 'Show'}} Details</button>
</div> -->
<!-- <div>
<button class="colorClass">Click Me</button> -->

<!-- <button class="colorClass" [class] ='ClassesToApply'>Click Me</button>

<button class="colorClass" [class.boldClass]="!ApplyBoldClass">Ado</button>

<button class="colorClass italicClass boldClass" [class.boldClass]="ApplyBoldClass">Ado</button> -->

<!-- <button class="colorClass" [ngClass]="AddCssClasses()" > Click me Multiple </button> 
    
</div> -->

<!-- <button style="color: red;" [style.font-weight]="IsBolt ? 'bold': 'normal'">Click Me</button> -->

<!-- <button style="color: yellowgreen;" [ngStyle]="AddCssStylyes()">Click me</button> -->

<!-- <div>

    <button (click)="onClick()">Click Me</button>
</div> -->



<div>

    <!-- Name : <input type="text" [value]="Name" (input)='Name = $any($event.target).value'> -->

    <!-- <input [value]="Name" type="text" (input)="handleInput($event)" /> -->
    <!-- Name : <input {{Name}}> -->

    <!-- <input type="text" [(ngModel)]="Name">
    <br>
    You Enterd Name : {{Name}}  -->

    <!-- <app-student-list></app-student-list> -->
   
</div>



<!-- <div>

<input type="radio" name="rb" (click)="ChangeData(true)" >Valid

<input type="radio" name="rb" (click)="ChangeData(false)" checked>Invalid

</div> -->

<!-- <div *ngIf="IsValid else elaseBlock">

    <h1>This is Valid</h1>
    
    </div>
    
    <div *ngIf="!IsValid">
    
        <h1>This is not Valid</h1>
        
    </div>

    <ng-template #elaseBlock>

    <div>

        <h1>This is not Valid</h1>
    </div>

    </ng-template>


    <div *ngIf="IsValid then thenblock else elseblock"> </div>
  <ng-template #thenblock>
    <div>
    <b>The is Then Block</b>
   </div>  
  </ng-template>
 
  <ng-template #elseblock>
    <div >
        <b>The is Else Block</b>
     </div> 
  </ng-template> -->


  <!-- <select (change)="SetDropDowanValue($event)">

     <option value="">Select</option>
     <option value="ind">India</option>
     <option value="usa">USA</option>
     <option value="uk">UK</option>

  </select>

  <h2>You Have Selected</h2>

  <div [ngSwitch]="dropDownvalue">
    <h3 *ngSwitchCase="'ind'">India</h3>
    <h3 *ngSwitchCase="'usa'">United State</h3>
    <h3 *ngSwitchCase="'uk'">United Kingdom</h3>

    <h3 *ngSwitchDefault="'in'">You have not selected any country</h3> -->


<div *ngFor="let student of students">

    <span [ngStyle]="{'background-color' :  student.Gender === 'Male'? 'red' : 'green'}">
Name : {{student.Name}}, Gender: {{student.Gender}}, Branch: {{student.Branch}}

    </span>

</div>

